#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}